/*** NAVBAR ********************************************************************/

/*** LOGIN ********************************************************************/

.titleLogin{
    margin-top: 85px;
    color: black;
}

.loginRegisterContainer{
    margin-top: 50px;
}

.accordion-title
{
    color: black;
    text-emphasis: none;
}

/*** FOOTER ********************************************************************/

footer{
    position: absolute;
    bottom: 5px;
}









