/*** NAVBAR ********************************************************************/




/*** LOGIN ********************************************************************/

.loginRegisterContainer{
    margin-top: 150px;
}

.accordion-title
{
    color: black;
    text-emphasis: none;
}







/*** FOOTER ********************************************************************/

footer{
    position: absolute;
    bottom: 5px;
}









