body{
    background-image: radial-gradient(circle, #f0fcf1, #effefb, #f4feff, #fbfeff, #ffffff);
    scroll-behavior: smooth;
}

/*** NAVBAR ********************************************************************/

/*** LOGIN ********************************************************************/

.titleLogin{
    margin-top: 85px;
    color: black;
}

.loginRegisterContainer{
    margin-top: 50px;
}

.accordion-title
{
    color: black;
    text-emphasis: none;
}

.credentialError, .registerUserError{
    margin-top: 45px;
}


/*** PROFILE ********************************************************************/

.jumboUser{
    margin-top: 75px;
}

/*** add properties *************************************************************/

.jumboAddProps{
    margin-top: 75px;
}


/*** PROPERTIES ********************************************************************/

#propertiesPage{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 56px);
    overflow: hidden; /*disbale scroll*/ 

}

#mapContainer{
    height: 100%;
    width: 40%;
}

.marker:hover{
    text-decoration: none;
}

#mapContainer #map{
    width: 100%;
    height: 100%;
}
#rigth{
    width: 60%;
}
#propertiesContainer{
    height: calc(100% - 90px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 26px;
    padding-bottom: 100px;

}

#propertiesContainer .propertyCard{
    box-sizing: border-box;
    width: 29%;
    margin: 2%;
}

#filterCard{
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    background-color: white;
}

#propertiesContainer .active{
    background-image: radial-gradient(circle, #fcfeff, #f2fafe, #e7f6fe, #ddf3fd, #d2effc);
    box-shadow: 0px 0px 25px 23px rgba(0, 0, 0, 0.336);
}

#mapContainer .active{
    background-color:  #515152a1;
    box-shadow: 0px 0px 15px 15px #515152a1;
    /* font-size: 3em; */
}

#propertyCardButtonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#allertSaved{
    position: absolute;
    bottom: 50px;
    display: none;
    z-index: 500;
    width: 80%;
    margin: auto;
    margin-left: 10%;
    text-align: center;
    background-color: #007bff;
    color: white;

}

.saveico{
    color: white;
}
/*** PROPERTY DETAILS ********************************************************************/
#goBackToProperties{
    margin-top: 25px;
    margin-left: 25px;
}
.jumboPropertyDetails{
    margin-top: 75px;
}

.carousel-inner{
    height: auto;
    width: 75%;
    margin-left: 12.5%;
    overflow: hidden;
}

.propertyDetailsBlock{
    line-height: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 40px;
}

.jumboPropertyDetails h1{
    /* margin-top: 40px; */
    margin-bottom: 45px;
}

.jumboPropertyDetails h3{
    margin-top: 40px;
    margin-bottom: 45px;
}

#btnSendEmail{
    margin-top: 35px;
}


/*** MY PROPERTIES ********************************************************************/

#myPropertiesContainer h1{
    margin-top: 50px;
}

 .oneProp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

 .oneProp div{
    width: 20%;
    box-sizing: border-box;
}

 .listHeader{
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 45px;
    margin-bottom: 25px;

}


#btnShowDeleted{
    margin-top: 50px;
    margin-bottom: 150px;
}

.iconMyProperties{
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    padding: 4px;
}

#deletedProps{
    margin-bottom: 150px;
}
/*** FOOTER ********************************************************************/

footer{
    position: absolute;
    bottom: 5px;
}





@media screen and (max-width: 1275px) {
    #propertiesContainer .propertyCard {
        width: 45%;
        margin-left: 2.5%;
    }
}

@media screen and (max-width: 800px) {
    #propertiesContainer .propertyCard {
        width: 95%;
        margin-left: 2.5%;
    }

    #myPropertiesContainer{
        width: 95%;
        margin-left: 2.5%;
    }

    .oneProp{
        flex-direction: column;
        align-content: space-around;
        justify-content: space-around;
        text-align: center;
    }
     .oneProp div {
        width: 100%;
        box-sizing: border-box;
        
    }

}

@media screen and (max-width: 600px) {
    #propertiesPage {
        flex-direction: column;
    }
    #mapContainer {
        height: 40%;
        width: 100%;
    }
    #rigth {
        width: 100%;
        height: 60%;
    }
    #mapContainer {
        height: 40%;
        width: 100%;
    }
}